<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Small Apps</title>

  <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Themefisher Font -->
  <link href="plugins/themefisher-font/style.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Theme -->
  <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
  <!-- Fancy Box -->
  <link href="plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">

  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">

  <!-- FAVICON -->
  <link href=" " rel="shortcut icon">

</head>

<body class="body-wrapper">


<nav class="navbar main-nav navbar-expand-lg p-0">
  <div class="container">
      <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="tf-ion-android-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item dropdown active dropdown-slide">
          <a class="nav-link" href="#"  data-toggle="dropdown">Home
            <span><i class="tf-ion-ios-arrow-down"></i></span>
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="homepage.html">Homepage</a>
            <a class="dropdown-item" href="homepage-2.html">Homepage 2</a>
            <a class="dropdown-item" href="homepage-3.html">Homepage 3</a>
          </div>
				</li> -->
				{{!-- <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li> --}}
      </ul>
      </div>
  </div>
</nav>
<!--==================================
=            Hero Section            =
===================================-->


<!--====  End of Hero Section  ====-->

<!--==============================
=            Services            =
===============================-->
<section class="services section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Section Title -->
				<div class="section-title">
					<h2>Our Website is under development</h2>
					<h3>info@lightbit.net</h3>
					
					{{!-- <p>A company that provides Information Technology.</p> --}}
				</div>
			</div>
		</div>
		
	</div>
</section>
<!--====  End of Services  ====-->

<!--==================================
=            Feature Grid            =
===================================-->



<!--==================================
=            App Features            =
===================================-->

<!--====  End of App Features  ====-->

<!-- <section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>It's Time to change your mind</h2>
				<p>Download over 2 million humans .Get Small Apps free forever!
					<br>We say you won’t look back.</p>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="tf-ion-social-apple"></i>
							Iphone
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="tf-ion-social-android"></i>
							Android
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="tf-ion-social-windows"></i>
							Windows
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section> -->

<!--============================
=            Footer            =
=============================-->

<footer class="footer-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-12 m-md-auto align-self-center">
				<div class="block">
					<a href="index.html"><img src="/images/logo.png" alt="footer-logo"></a>
					<!-- Social Site Icons -->
					
					{{!-- <ul class="social-icon list-inline">
						<li class="list-inline-item">
							<a href="#"><i class="tf-ion-social-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#"><i class="tf-ion-social-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#"><i class="tf-ion-social-instagram"></i></a>
						</li>
					</ul> --}}
				</div>
			</div>

		</div>
	</div>
</footer>



  <!-- JAVASCRIPTS -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script>

  <script src="/plugins/jquery/jquery.js"></script>
  <script src="/plugins/popper/popper.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="/plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="/plugins/syotimer/jquery.syotimer.min.js"></script>

  <script src="/js/custom.js"></script>
</body>

</html>



